html {
    height: 100%;
}

body {
    height: 100%;
}

.background-image {
    background-image: url("../images/coming-soon-bg.jpg");
    background-size: contain;
    height: auto;
}

.logo {
    width: 23%;
    box-sizing: border-box;
    height: auto;
}

@font-face {
    font-family: aqualinetwo;
    src: url(../fonts/AquilineTwo.ttf);
}

.larger-text {
    font-size: 3em;
}

.stylish-text {
    font-family: aqualinetwo;
}

h1, h2, h3, h4, h5, label, i {
    color: #FFFFFF;
}

.horizontal-line {
    border-bottom: 1px solid #FFFFFF;
}

.page-center {
    position: relative;
    top: 50%;
    height: 100%;
}

.mg-top-2x {
    margin-top: 2em;
}


